<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clasificación cifar-10</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <!-- Contenedor centrado -->
        <h1>Modelo de clasificación</h1>
        <p>Cargar imagen:</p>

        <div class="row justify-content-center">
            <!-- Contenedor para la selección de imagen -->
            <div class="col-md-6">
                <form method="POST" action="/clasificar" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="imagen" accept="image/*" id="fileInput">
                            <label class="custom-file-label" for="fileInput">Seleccionar Archivo</label>
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Clasificar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Capturar el evento de cambio en el campo de entrada de archivos
        document.getElementById('fileInput').addEventListener('change', function() {
            // Obtener el nombre del archivo seleccionado
            var fileName = this.files[0].name;

            // Actualizar la etiqueta de archivo personalizada con el nombre del archivo
            var customFileLabel = document.querySelector('.custom-file-label');
            customFileLabel.innerHTML = fileName;
        });
    </script>
</body>
</html>
